@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: rgba(56, 58, 89, 1);
  --primary-color-darker: rgba(56, 58, 89, 0.9);
  --color-black-dracula: rgba(40, 42, 54);
  --color-pink-dracula: rgb(216, 99, 187);
  --color-pele-dracula: rgb(237, 237, 237);
  --color-title-dracula: rgb(189, 147, 249);
  --color-banco-dracula: rgb(242, 242, 242);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

h1 {
  text-align: center;
  color: var(--color-title-dracula);
}

p {
  color: var(--color-pink-dracula);
}

label {
  color: var(--color-pele-dracula);
}

input {
  color: var(--color-black-dracula);
}

::placeholder {
  color: var(--color-title-dracula);
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: var(--color-black-dracula);
  padding: 20px;
  border-radius: 10px;
}
.container:after {
  display: flex;
  content: " Created By Ericl ❤️ ";
  margin: 9px;
  color: #fff;
  flex: 999 999 auto;
  align-items: center;
  justify-content: center;
}

div input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  
}

div input:focus {
  outline: 1px solid var(--primary-color);
}

div button {
  border: none;
  background: var(--primary-color);
  color: var(--color-banco-dracula);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

div button:hover {
  background: var(--primary-color-darker);
}

div {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
}

li {
  color: var(--color-pink-dracula);
  margin: 10px;
}



.apagar {
  border: none;
  background: rgb(230, 116, 116);
  color: var(--color-pele-dracula);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  width: 100px;
  cursor: pointer;
  margin-left: 300px;
  
} 

.apagar:hover {
  background: var(--primary-color-darker);
}